<mat-card>
    <mat-card-content class="container">
        <form [formGroup]="searchControl" (ngSubmit)="onSubmit()" class="columns">
            <mat-form-field>
                <mat-label>Author name or publication title</mat-label>
                <input matInput placeholder="Search" formControlName="query" />
            </mat-form-field>
            <mat-select [(value)]="selected" placeholder="Author" formControlName="category">
                <mat-option [value]="author">Author</mat-option>
                <mat-option [value]="publication">Publications</mat-option>
            </mat-select>
            <button mat-raised-button color="primary" type="submit">Search</button>
        </form>
    </mat-card-content>
</mat-card>