<mat-card>
    <mat-card-content>
        <form [formGroup]="searchControl" (ngSubmit)="onSubmit()">
            <input matInput placeholder="Search" formControlName="query"/>
            <mat-select [(value)]="selected" placeholder="Author" formControlName="category">
                <mat-option value="author">Author</mat-option>
                <mat-option value="publication">Publications</mat-option>
            </mat-select>
            <button mat-button type="submit">Search</button>
        </form>
    </mat-card-content>
</mat-card>